<a href="https://colab.research.google.com/github/jimin007a/bigdata/blob/main/gdp_tmp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
key1 = ['엄마','아빠','나','동생']
key2 = ['삼촌','나','동생','이모']
val1 = [5,3,1,2]
val2 = [3,4,6,3]

In [ ]:
import pandas as pd
df1 = pd.DataFrame([key1, val1]).T
print(df1)

    0  1
0  엄마  5
1  아빠  3
2   나  1
3  동생  2

In [ ]:
df1.columns = ['key','사과']
print(df1)

  key 사과
0  엄마  5
1  아빠  3
2   나  1
3  동생  2

In [ ]:
df1 = df1.set_index('key')
print(df1)

    사과
key
엄마   5
아빠   3
나    1
동생   2

In [ ]:
df2 = pd.DataFrame([key2, val2]).T
df2.columns = ['key', '바나나']
df2 = df2.set_index('key')
print(df2)

    바나나
key
삼촌    3
나     4
동생    6
이모    3

In [ ]:
df_ = pd.concat([df1,df2], axis = 1)
print(df_)

      사과  바나나
key
엄마     5  NaN
아빠     3  NaN
나      1    4
동생     2    6
삼촌   NaN    3
이모   NaN    3

In [ ]:
df_ = pd.concat([df1,df2], axis = 0)
print(df_)

      사과  바나나
key
엄마     5  NaN
아빠     3  NaN
나      1  NaN
동생     2  NaN
삼촌   NaN    3
나    NaN    4
동생   NaN    6
이모   NaN    3

In [ ]:
df_ = pd.concat([df1,df2], axis = 0)
print(df_.groupby(df_.index).sum())

     사과  바나나
key
나     1    4
동생    2    6
삼촌    0    3
아빠    3    0
엄마    5    0
이모    0    3

In [1]:
import pandas as pd
tmp = pd.read_csv('/content/drive/MyDrive/graph.csv',sep = ',')
gdp = pd.read_csv('/content/drive/MyDrive/복사본 API_NY.GDP.MKTP.CD_DS2_en_csv_v2_5358352.csv',sep = ',')
print(tmp.head())

   1880  -0.17  -0.09
0  1881  -0.08  -0.13
1  1882  -0.11  -0.17
2  1883  -0.17  -0.20
3  1884  -0.28  -0.24
4  1885  -0.33  -0.26

In [2]:
print(gdp.head())

                  Country Name Country Code     Indicator Name  \
0                        Aruba          ABW  GDP (current US$)
1  Africa Eastern and Southern          AFE  GDP (current US$)
2                  Afghanistan          AFG  GDP (current US$)
3   Africa Western and Central          AFW  GDP (current US$)
4                       Angola          AGO  GDP (current US$)

   Indicator Code          1960          1961          1962          1963  \
0  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN
1  NY.GDP.MKTP.CD  2.129150e+10  2.180940e+10  2.370810e+10  2.821130e+10
2  NY.GDP.MKTP.CD  5.377778e+08  5.488889e+08  5.466667e+08  7.511112e+08
3  NY.GDP.MKTP.CD  1.040410e+10  1.112790e+10  1.194320e+10  1.267630e+10
4  NY.GDP.MKTP.CD           NaN           NaN           NaN           NaN

           1964          1965  ...          2012          2013          2014  \
0           NaN           NaN  ...  2.615084e+09  2.727933e+09  2.791061e+09
1  2.611990e+10  2.968350e+10  ...  9.720020e+11  9.826770e+11  1.003400e+12
2  8.000000e+08  1.006667e+09  ...  2.020360e+10  2.056450e+10  2.055060e+10
3  1.383840e+10  1.486220e+10  ...  7.360400e+11  8.322170e+11  8.924980e+11
4           NaN           NaN  ...  1.249980e+11  1.334020e+11  1.372440e+11

           2015          2016          2017          2018          2019  \
0  2.963128e+09  2.983799e+09  3.092179e+09  3.202235e+09  3.368970e+09
1  9.231440e+11  8.898590e+11  1.030480e+12  1.016700e+12  1.009050e+12
2  1.999820e+10  1.801960e+10  1.889640e+10  1.841880e+10  1.890450e+10
3  7.669580e+11  6.905450e+11  6.837480e+11  7.663600e+11  7.947190e+11
4  8.721930e+10  4.984050e+10  6.897280e+10  7.779290e+10  6.930910e+10

           2020          2021
0  2.610039e+09  3.126019e+09
1  9.341790e+11  1.089450e+12
2  2.014340e+10  1.478690e+10
3  7.848000e+11  8.401870e+11
4  5.361910e+10  6.740430e+10

[5 rows x 66 columns]

In [3]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1880    142 non-null    int64
 1   -0.17   142 non-null    float64
 2   -0.09   142 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 3.5 KB

In [4]:
gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 66 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            134 non-null    float64
 5   1961            136 non-null    float64
 6   1962            138 non-null    float64
 7   1963            138 non-null    float64
 8   1964            138 non-null    float64
 9   1965            149 non-null    float64
 10  1966            152 non-null    float64
 11  1967            155 non-null    float64
 12  1968            160 non-null    float64
 13  1969            160 non-null    float64
 14  1970            169 non-null    float64
 15  1971            172 non-null    float64
 16  1972            172 non-null    float64
 17  1973            172 non-null    float64
 18  1974            173 non-null    float64
 19  1975            175 non-null    float64
 20  1976            176 non-null    float64
 21  1977            179 non-null    float64
 22  1978            178 non-null    float64
 23  1979            179 non-null    float64
 24  1980            191 non-null    float64
 25  1981            194 non-null    float64
 26  1982            195 non-null    float64
 27  1983            196 non-null    float64
 28  1984            197 non-null    float64
 29  1985            199 non-null    float64
 30  1986            201 non-null    float64
 31  1987            205 non-null    float64
 32  1988            210 non-null    float64
 33  1989            210 non-null    float64
 34  1990            226 non-null    float64
 35  1991            226 non-null    float64
 36  1992            227 non-null    float64
 37  1993            229 non-null    float64
 38  1994            231 non-null    float64
 39  1995            240 non-null    float64
 40  1996            240 non-null    float64
 41  1997            240 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            247 non-null    float64
 45  2001            249 non-null    float64
 46  2002            254 non-null    float64
 47  2003            254 non-null    float64
 48  2004            254 non-null    float64
 49  2005            254 non-null    float64
 50  2006            255 non-null    float64
 51  2007            255 non-null    float64
 52  2008            256 non-null    float64
 53  2009            256 non-null    float64
 54  2010            257 non-null    float64
 55  2011            260 non-null    float64
 56  2012            258 non-null    float64
 57  2013            259 non-null    float64
 58  2014            260 non-null    float64
 59  2015            258 non-null    float64
 60  2016            257 non-null    float64
 61  2017            257 non-null    float64
 62  2018            257 non-null    float64
 63  2019            255 non-null    float64
 64  2020            252 non-null    float64
 65  2021            245 non-null    float64
dtypes: float64(62), object(4)
memory usage: 137.3+ KB

In [38]:
gdp_sum = gdp.sum(axis = 0)
print(gdp_sum)

Country Name      ArubaAfrica Eastern and SouthernAfghanistanAfr...
Country Code      ABWAFEAFGAFWAGOALBANDARBAREARGARMASMATGAUSAUTA...
Indicator Name    GDP (current US$)GDP (current US$)GDP (current...
Indicator Code    NY.GDP.MKTP.CDNY.GDP.MKTP.CDNY.GDP.MKTP.CDNY.G...
1960                                           9518432021034.720703
                                        ...
2017                                             673319593022841.75
2018                                            715369906175107.875
2019                                              725547439367939.0
2020                                             703154445622073.75
2021                                             802770879405363.75
Length: 66, dtype: object

In [39]:
gdp_sum = gdp_sum[4:]

In [40]:
print(gdp_sum)

1960     9518432021034.720703
1961     9773783201397.189453
1962    10418785097216.972656
1963    11239384846406.808594
1964    12339126712292.759766
                ...
2017       673319593022841.75
2018      715369906175107.875
2019        725547439367939.0
2020       703154445622073.75
2021       802770879405363.75
Length: 62, dtype: object

In [41]:
gdp_df = pd.DataFrame(gdp_sum)
gdp_df.columns = ['gdp']
gdp_df= gdp_df.reset_index()
gdp_df.info()
gdp_df.index = gdp_df.index.astype('int')
gdp_df.gdp = gdp_df.gdp.astype('float')
gdp_df.columns = ['year', 'gdp']
gdp_df.info()
gdp_df = gdp_df.set_index('year')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   index   62 non-null     object
 1   gdp     62 non-null     object
dtypes: object(2)
memory usage: 1.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    62 non-null     object
 1   gdp     62 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

In [42]:
print(gdp_df)

               gdp
year
1960  9.518432e+12
1961  9.773783e+12
1962  1.041879e+13
1963  1.123938e+13
1964  1.233913e+13
...            ...
2017  6.733196e+14
2018  7.153699e+14
2019  7.255474e+14
2020  7.031544e+14
2021  8.027709e+14

[62 rows x 1 columns]

In [43]:
tmp_gdp=pd.concat([tmp,gdp_df],axis = 1)
print(tmp_gdp)

      tmp1  tmp2           gdp
year
1881 -0.08 -0.13           NaN
1882 -0.11 -0.17           NaN
1883 -0.17 -0.20           NaN
1884 -0.28 -0.24           NaN
1885 -0.33 -0.26           NaN
...    ...   ...           ...
2017   NaN   NaN  6.733196e+14
2018   NaN   NaN  7.153699e+14
2019   NaN   NaN  7.255474e+14
2020   NaN   NaN  7.031544e+14
2021   NaN   NaN  8.027709e+14

[204 rows x 3 columns]

In [44]:
print(tmp_gdp.head(50))
print(tmp_gdp.tail(50))

      tmp1  tmp2  gdp
year
1881 -0.08 -0.13  NaN
1882 -0.11 -0.17  NaN
1883 -0.17 -0.20  NaN
1884 -0.28 -0.24  NaN
1885 -0.33 -0.26  NaN
1886 -0.31 -0.27  NaN
1887 -0.36 -0.27  NaN
1888 -0.17 -0.26  NaN
1889 -0.10 -0.25  NaN
1890 -0.35 -0.25  NaN
1891 -0.22 -0.25  NaN
1892 -0.27 -0.26  NaN
1893 -0.31 -0.26  NaN
1894 -0.30 -0.24  NaN
1895 -0.22 -0.22  NaN
1896 -0.11 -0.20  NaN
1897 -0.11 -0.18  NaN
1898 -0.27 -0.16  NaN
1899 -0.17 -0.17  NaN
1900 -0.08 -0.20  NaN
1901 -0.15 -0.23  NaN
1902 -0.27 -0.25  NaN
1903 -0.37 -0.28  NaN
1904 -0.47 -0.31  NaN
1905 -0.26 -0.34  NaN
1906 -0.22 -0.36  NaN
1907 -0.38 -0.37  NaN
1908 -0.43 -0.39  NaN
1909 -0.48 -0.41  NaN
1910 -0.43 -0.41  NaN
1911 -0.44 -0.39  NaN
1912 -0.36 -0.35  NaN
1913 -0.34 -0.32  NaN
1914 -0.15 -0.31  NaN
1915 -0.14 -0.30  NaN
1916 -0.36 -0.29  NaN
1917 -0.46 -0.29  NaN
1918 -0.29 -0.30  NaN
1919 -0.28 -0.29  NaN
1920 -0.27 -0.28  NaN
1921 -0.19 -0.26  NaN
1922 -0.28 -0.25  NaN
1923 -0.26 -0.24  NaN
1924 -0.27 -0.23  NaN
1925 -0.22 -0.22  NaN
1926 -0.11 -0.22  NaN
1927 -0.22 -0.21  NaN
1928 -0.20 -0.20  NaN
1929 -0.36 -0.19  NaN
1930 -0.15 -0.19  NaN
      tmp1  tmp2           gdp
year
1972   NaN   NaN  2.826309e+13
1973   NaN   NaN  3.487464e+13
1974   NaN   NaN  4.080591e+13
1975   NaN   NaN  4.554970e+13
1976   NaN   NaN  4.929561e+13
1977   NaN   NaN  5.569899e+13
1978   NaN   NaN  6.491046e+13
1979   NaN   NaN  7.597876e+13
1980   NaN   NaN  8.665200e+13
1981   NaN   NaN  8.998085e+13
1982   NaN   NaN  8.870408e+13
1983   NaN   NaN  8.911315e+13
1984   NaN   NaN  9.146675e+13
1985   NaN   NaN  9.556142e+13
1986   NaN   NaN  1.117677e+14
1987   NaN   NaN  1.263436e+14
1988   NaN   NaN  1.425237e+14
1989   NaN   NaN  1.484445e+14
1990   NaN   NaN  1.699710e+14
1991   NaN   NaN  1.751969e+14
1992   NaN   NaN  1.867634e+14
1993   NaN   NaN  1.894587e+14
1994   NaN   NaN  2.043139e+14
1995   NaN   NaN  2.286573e+14
1996   NaN   NaN  2.356063e+14
1997   NaN   NaN  2.353501e+14
1998   NaN   NaN  2.346722e+14
1999   NaN   NaN  2.411762e+14
2000   NaN   NaN  2.492553e+14
2001   NaN   NaN  2.485444e+14
2002   NaN   NaN  2.584975e+14
2003   NaN   NaN  2.916890e+14
2004   NaN   NaN  3.316249e+14
2005   NaN   NaN  3.633095e+14
2006   NaN   NaN  3.989838e+14
2007   NaN   NaN  4.571682e+14
2008   NaN   NaN  5.107845e+14
2009   NaN   NaN  4.848677e+14
2010   NaN   NaN  5.384990e+14
2011   NaN   NaN  6.034965e+14
2012   NaN   NaN  6.194668e+14
2013   NaN   NaN  6.415997e+14
2014   NaN   NaN  6.601069e+14
2015   NaN   NaN  6.192520e+14
2016   NaN   NaN  6.282800e+14
2017   NaN   NaN  6.733196e+14
2018   NaN   NaN  7.153699e+14
2019   NaN   NaN  7.255474e+14
2020   NaN   NaN  7.031544e+14
2021   NaN   NaN  8.027709e+14

In [45]:
final_tmp_gdp = tmp_gdp.dropna(axis=0)
print(final_tmp_gdp)

Empty DataFrame
Columns: [tmp1, tmp2, gdp]
Index: []